<%= javascript_include_tag 'project' %>

<h1>Projects</h1>

<div class="container home">
  <div class="row home-header">
    <div class="col-md-4 mr-auto">
      <button class="btn btn-primary mr-auto" id="new_project_button">New</button>
      <div class="project-popover " id="new_project_popover">
        <%= form_with(model: @project) do |f|  %>
          <div class="form-group">
            <%= f.text_field :name,  class: "form-control mr-sm-2", type: "text", placeholder: "Name this project", autofocus: true %>
          </div>
          <%= f.submit "Save", class: "btn btn-outline-success my-2 my-sm-0" %>
          <button class="btn btn-secondary" id="cancel_project_popover">Close</button>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Projects</h3>
    </div>
    <div class="col-md-4 m1-auto">
      <button class="btn m1-auto">...</button>
    </div>
  </div>

  <div class="row home-projects">
    <div class="col-md-4 project-col">
      <a class="project-card" href="#">
        <h4>Dummy project</h4>
        <p>What a wonderful project this will be!</p>
      </a>
    </div>

    <div class="col-md-4 project-col">
      <a class="project-card" href="#">
        <h4>Dummy project</h4>
        <p>What a wonderful project this will be!</p>
      </a>
    </div>

    <div class="col-md-4 project-col">
      <a class="project-card" href="#">
        <h4>Dummy project</h4>
        <p>What a wonderful project this will be!</p>
      </a>
    </div>

    <div class="col-md-4 project-col">
      <a class="project-card" href="#">
        <h4>Dummy project</h4>
        <p>What a wonderful project this will be!</p>
      </a>
    </div>
  </div>
</div>
